* {
  font-family: 'Open Sans', sans-serif;

  margin: 0;

  color: #f0fafa;
  background-color: #564d4d;
}

h2 {
  font-size: 3.5em;
  font-weight: 300;

  padding: 0.5em 0 1.5em;

  color: #4fc3c2;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

h5 {
  font-size: 2em;
  font-weight: 300;

  padding-bottom: 0.5em;

  color: #ffd23f;
}

h6 {
  font-size: 1em;
  font-weight: 400;
}

p {
  line-height: 1.5em;

  padding-bottom: 1em;
}

.navbar {
  position: relative;
  z-index: 999;

  display: flex;

  margin: 0 auto;
  padding: 1em 10em;

  background-color: #564d4d;
  box-shadow: 0 6px 6px -2px #4c4343;

  align-items: center;
}

.navbar * {
  background-color: #564d4d;
}

.navbar h1 {
  font-size: 1.3rem;

  color: #f0fafa;
}
.navbar .links {
  display: flex;

  margin-left: auto;

  gap: 1.5em;
}
.navbar a {
  font-size: 1.2rem;

  text-decoration: none;

  color: #f0fafa;
}
.navbar a:hover {
  color: #ffd23f;
}

.hero {
  display: flex;

  min-height: 500px;
  padding: 1em 10em;

  box-shadow: 0 6px 6px -2px #4c4343;

  align-items: center;
}

.heroText {
  padding: 5em 0;
}

.hero-img {
  margin-left: auto;
}

.hero h2 {
  font-size: 3.5em;
  font-weight: 700;

  padding: 0.2em 0;

  color: #f0fafa;
}

.projects,
.contact {
  display: flex;

  background-color: #4c4343;

  justify-content: center;
}

.projects *,
.contact * {
  background-color: #4c4343;
}

.about {
  display: flex;

  justify-content: center;
}

.projects,
.about,
.contact {
  display: flex;
  flex-direction: column;

  min-height: 500px;
  padding: 1em 10em 5em 10em;

  box-shadow: 0 6px 6px -2px #4c4343;

  align-items: center;
}

.proj-sec-cont {
  display: flex;
  flex-direction: column;

  padding-top: 2em 10em;

  gap: 3em;
}

.about-sec-cont {
  display: flex;
}

.proj-info-cont,
.about-info {
  display: flex;
  flex-direction: column;

  padding: 2em;
}

.proj-cont {
  display: flex;

  padding: 1em;

  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: #564d4d;
  box-shadow: 2px 2px 0 1px #ffd23f;
}

.proj-cont * {
  background-color: #564d4d;
}

.contact-cont {
  min-width: 400px;
  min-height: 500px;

  border-radius: 1em;
  background-color: #564d4d;
}

.footer {
  position: relative;

  display: flex;

  padding: 1em;

  border-top: 1px solid #4c4343;

  justify-content: center;
}

.button {
  font-size: 1.2em;
  font-weight: 600;

  display: flex;

  width: 150px;
  height: 40px;

  cursor: pointer;
  text-decoration: none;

  color: #4fc3c2;
  border: none;
  border-radius: 0.5em;
  background-color: #f0fafa;
  box-shadow: -2px 2px 0 1px #4fc3c2;

  align-items: center;
  justify-content: center;
}

.button:hover {
  color: #f0fafa;
  background-color: #4fc3c2;
  box-shadow: -2px 2px 0 1px #f0fafa;
}

.button:active {
  transform: translateX(-2px) translateY(2px);
}

.btn-cont {
  display: flex;

  gap: 1em;
}

.proj-media-cont {
  display: flex;

  align-items: center;
}

.proj-media {
  max-height: 16em;
}

.buttons-cont {
  display: flex;

  gap: 1em;
}
